# Python
__pycache__/
*.py[cod]
*.log

# Virtual environments / secrets
venv/
.env
.env.*

# Flask / runtime
uploads/
instance/

# OS junk
.DS_Store
Thumbs.db

# SSH / keys
*.pem
*.key

# Editor files
.vscode/
.idea/

# Backups
*.bak
