<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}IoT Motion Camera{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <div class="container">
    {% block topbar %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash">
          {% for category, message in messages %}
            <div class="msg {% if category %}{{ category }}{% endif %}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <div class="footer">
      Matthew Tomkins - 2026 DKIT
    </div>
  </div>
</body>
</html>
